.App {
    margin: 2em;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4em); /* Adjusted for margin */
}

.App-content {
    flex: 1; /* This will take up all available space */
    display: flex; /* Enable flex layout */
    min-height: 0; /* This prevents flex items from collapsing in some browsers */
}

/* Ensure the TreeMap component fills its container */
.TreeMapContainer {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    min-height: 0; /* This ensures that the container doesn't collapse */
}

/* Dialog Title */
.dialog-title {
    background-color: #0044cc; /* Dark blue background */
    color: white;              /* White text for reversed-out effect */
    font-weight: bold;         /* Bold text */
    padding: 16px;             /* Padding for better spacing */
}

/* Dialog Content */
.dialog-content {
    background-color: #0044cc; /* Dark blue to match the title */
    color: white;              /* White text */
    font-weight: bold;         /* Bold description text */
    padding: 16px;
}

/* Dialog Description Styling */
.dialog-description {
    color: white;              /* White text for readability on dark blue */
    font-weight: bold;
    line-height: 1.5;          /* Improve readability */
}

/* Title with Logo */
.title-with-logo {
    margin-bottom: 0.2em;
    text-align: left;
    display: flex;
    align-items: center;
}

.logo {
    width: 1em;
    margin-left: 8px;
}

/* Optional Tooltip Styling */
.treemap-tooltip {
    background-color: #0044cc;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
}

/* Default style for desktop */
.paragraph-text {
    position: relative; /* Added to position the gradient overlay */
    overflow-y: auto; /* Enable vertical scrolling */
    text-align: left;
    width: 50em; /* This will be overridden on mobile screens */
    max-width: 100%; /* This ensures it doesn't overflow on small desktop screens */
    margin: 0px; /* Center the text container */
    padding: 0px !important; /* Optional: Add some padding on the sides */
    max-height: 150px; /* Adjust the maximum height as needed */
}



.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal size */
    grid-template-rows: calc((20em - 1em) / 2) calc((20em - 1em) / 2); /* Two rows, adjusted for gap */
    grid-gap: 1em;
    margin-top: 0px;
    height: 20em; /* Fixed height for the grid */
    overflow: hidden; /* Hide the overflow to crop images */
    margin-bottom: 1em;
}

.grid-item {
    width: 100%;
    height: 100%; /* Fit to grid cell */
    object-fit: cover; /* Cover the cell, may crop the image */
}

.grid-item-0,
.grid-item-1 {
    grid-column: 1; /* First column */
}

.grid-item-2 {
    grid-column: 2; /* Second column */
    grid-row: 1 / span 2; /* Span across both rows */
}

/* Mobile style */
@media (max-width: 768px) {
    .paragraph-text {
        width: auto; /* This makes it fill the container */
        padding: 0 10px; /* Optional: Add some padding on the sides */
    }
}
